.below-profile{
    /* background-color: #181818; */
    background-color: rgba(24, 24, 24, 0.1);  

    height: 60vh;
}
@media (max-width: 1400px) {
    .below-profile{
        height: 50vh;
    background-color: rgba(24, 24, 24, 0.1);  

    }
}
.pbar{
height: 5px;background-color: rgb(18,18,19);
}
.skills{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 10px;
    color: white;
    --animate-duration: 2500ms;
    --animate-delay: 0.9s;
}
.profile-card-div{
    background-color: #242526;
}
.progress-bar-text{
    font-size: 0.8rem;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
}
.percent{
    margin-left: auto;
    color: #8c8c8e;
}
.knowledge-container{
    padding: 18px;
}
.knowledge-container .text{
    padding-left: 12px;
    font-size: 0.9rem;
}
.knowledge-container .check{
    font-size: 0.8rem;
    padding-left: 6px;
}
.scroll{
    /* background-color: #181818; */
    background-color: rgba(24, 24, 24, 0.1);  

    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color:rgb(10,132,255) black ;
    /* height: 60vh; */
}
/* @media (max-width: 420px) {
    .scroll {
        height: 50vh;
    }
    
} */