<div class="container content-container">
    <div class="row animate__animated animate__fadeInRight">
        <div class="col-lg-12 ">
            <div class="card banner">
                <div class="card-body">
                    <h5 class="banner-title mb-15">Hi! I'm Senthil Sivaraman</h5>
                    <div class="codeText">
                        <span class="typeText"> <<span class="blue">code</span>><span class="typeText " id="typetext"></span> </span>
                        <span> Ideathon 2021 Winner</span>
                        <span class="typeText"> <<span class="blue">code</span>><span class="typeText " id="typetext"></span> </span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 ">
            <ul class="nav nav-tabs">
                <li class="nav-item" *ngFor="let item of navlist; index as i">
                  <a class="nav-link" [ngClass]="{'active':navselected[i]}" (click)="change(i)">{{item}}</a>
                </li>
              </ul>
            <app-projects *ngIf="navselected[0]" ></app-projects>
            <app-certificates *ngIf="navselected[1]"></app-certificates>
        </div>
    </div>
</div>