<div class="row">
    <div class="col-md-12 profile-card-div">
        <div class="card animate__animated animate__fadeIn" >
            <div class="card-body">
                <div class="profile ">
                    <img src="../../../assets/img/vai.jpg" class="img-round">
                </div>
                <h6 class="art-name"><a>Senthil Sivaraman </a></h6>
                <span class="art-sm-text">Software Engineer</span>
            </div>
            
        </div>
    </div>  
</div>