.img-round{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;
}
.profile{
    display: flex;
    align-content: center;
}
.card-body{
    text-align: center;
}
.card{
    box-shadow: none;
    border: none;
}

.art-name {
    color: #fafafc;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    font-size: 1.0rem;
    font-weight: 600;
  
}
.art-name a {
color: #fafafc;
-webkit-transition: 0.4s ease-in-out;
transition: 0.4s ease-in-out;
}
.art-name:hover a {
color: rgb(10,132,255);
}
a{
    text-decoration: none;
}
.art-sm-text{
    color: #8c8c8e;
    font-size: 0.8rem;
  }
:root {
    --animate-duration: 1000ms;
    --animate-delay: 0.9s;
  }
  .profile-card-div{
    background-color: #242526;
}