<div class="row p-3 animate__animated animate__fadeInRight scroll">
    <div class="col-xl-4 col-md-6 col-sm-12 d-flex align-items-stretch pt-2"  *ngFor="let project of Projects">
        <div class="project-card mb-2 ">
            <div class="project-content">
                <h6 class="project-title">{{project.title}}</h6>

                <div class="project-desc">
                    <span class="project-desc">
                        {{project.description}}
                    </span>
                </div>
                <div class="logos">
                    <img *ngFor="let i of project.images" src={{i.src}} class={{i.class}} >
                </div>
                <a href={{project.link}} class="project-link " target="_blank">Click Here  </a>
            </div>
        </div>
    </div>
</div>