.page-head{
    font-weight: 600;
    font-size:1.2rem;
    padding-left: 12px;
    padding-bottom: 12px;
}
.project-card{
   
    line-height: 1.5;
    text-align: left;
    color: #8c8c8e;
    /* font-size: 12px;
    font-weight: 300; */
    letter-spacing: 0.5px;
    box-sizing: border-box;
    padding: 30px;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
            box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    background: #202022;
}
.project-content{
    padding:12px;
    display: flex;
    flex-direction: column;
}
.project-title{
    font-size: 0.8rem;
}
.project-desc{
    padding-top: 10px;
    color:#8c8c8e;
    text-justify: inter-word;
    text-align: justify;
    font-size: 0.75rem;
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 12px;
}
/* increase all width and height percent by one */
.html-logo{height:16% ;width: 16%;padding-top: 5%;}
.css-logo{height:14% ;width: 14%;padding-top: 5%;padding-left:2px}
.angular-logo{height:17% ;width: 17%;padding-top: 4%;padding-left:2px}
.node-logo{height:14% ;width: 14%;padding-top: 5%;padding-left:2px}
.mongodb-logo{height:16% ;width: 16%;padding-top: 5%;padding-left:2px}
.aws-logo{height:22% ;width: 20%;padding-top: 5%;}
.firebase-logo{height:22% ;width: 20%;padding-top: 5%;}
.react-logo{height:15% ;width: 15%;padding-top: 5%;padding-right: 2px;}
.js-logo{height:13% ;width: 14%;padding-top: 5%;padding-left:3px}

.scroll{

    overflow-y: scroll;
    height: 66vh;
}
@media (max-width: 1400px) {
    .scroll{
        overflow-y: scroll;
        height: 50vh;
    }
}
.project-link{
    position: relative;
    bottom: 0px;
    right: 5px;
    margin-left: auto;
    padding-top: 24px;
    
    line-height: 1.5;
    
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
   
    font-size: 12px;
    
    letter-spacing: 1.5px;
    font-weight: 600;
    transition: 0.4s ease-in-out;
    text-decoration: none;
    color: rgb(10,132,255);
}