<div class="row social-container">
    <div class="col-md-12 social-card-div">
        <div class="social-icons">
            <div class="sicon">
                <a><i class="fab fa-github"></i></a>
            </div>
            <div class="sicon">
                <a><i class="fab fa-linkedin"></i></a>
            </div>
            <div class="sicon">
                <a><i class="fab fa-youtube"></i></a>
            </div>
            <div class="sicon">
                <a><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>  
</div>