<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Senthil</title>
</head>
<body>
  <!-- <nav class="navbar navbar-dark bg-dark nav">
    <a (click)="sidebarShow = !sidebarShow"><i class="fas fa-bars nb"></i></a>
  </nav> -->
  <div class="app-container">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
   <canvas class="webgl" id="webgl"></canvas>
</body>
</html>