.app-container{
    z-index: 1;
    position: absolute;
    height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
    width:100%;

}
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
   
    z-index: 0;
}
.container{

    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 1400px) {
    .container{
        margin-top: 24px;
    }
}