<div class="row p-3 animate__animated animate__fadeInRight scroll">
    <div class="col-xl-6 col-md-6 col-sm-12 pt-2"  *ngFor="let c of Certificates">
        <div class="certificate-card mb-2 ">
            <img src="{{c.image}}" alt="" class="logo">
            <div class="certificate-content">
                <h6 class="c-title">{{c.title}}</h6>
                <span class="c-issued">{{c.issue}}</span>
                <span class="c-issuedate">{{c.issuedate}}</span>
            </div>
        </div>
    </div>
</div>
