.img-round{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;
}
.profile{
    display: flex;
    align-content: center;
}
.card-body{
    text-align: center;
}
.card{
    box-shadow: none;
    border: none;
}
.art-name {
    color: #fafafc;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    font-size: 1.0rem;
    font-weight: 600;
  
}
.art-name a {
color: #fafafc;
-webkit-transition: 0.4s ease-in-out;
transition: 0.4s ease-in-out;
}
.art-name:hover a {
color: rgb(10,132,255);
}
a{
    text-decoration: none;
}
.art-sm-text{
    color: #8c8c8e;
    font-size: 0.8rem;
  }
:root {
    --animate-duration: 1000ms;
    --animate-delay: 0.9s;
  }
.below-profile{
    background-color: #181818;

}
.pbar{
height: 5px;background-color: rgb(18,18,19);
}
.skill-container{
    padding: 16px;
    color: white;

}
.profile-card-div{
    background-color: #242526;
}
.progress-bar-text{
    font-size: 0.9rem;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
}
.percent{
    margin-left: auto;
    color: #8c8c8e;
}