.img-round{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;
}
.profile{
    display: flex;
    align-content: center;
}
.card-body{
    text-align: center;
}
.art-name {
    color: #fafafc;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    font-size: 16px;
  
}
.art-name a {
color: #fafafc;
-webkit-transition: 0.4s ease-in-out;
transition: 0.4s ease-in-out;
}
.art-name:hover a {
color: rgb(10,132,255);
}
a{
    text-decoration: none;
}
:root {
    --animate-duration: 1000ms;
    --animate-delay: 0.9s;
  }