<div class="art-app animate__animated animate__fadeInLeft">

    <div class="row">
        <div class="col-md-12 profile-card-div">
            <div class="card animate__animated animate__fadeIn" >
                <div class="card-body">
                    <div class="profile ">
                        <img src="../../assets/img/vai.jpg" class="img-round">
                    </div>
                    <h6 class="art-name"><a>Senthil Sivaraman </a></h6>
                    <span class="art-sm-text">Software Engineer</span>
                </div>
                
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-md-12  below-profile">
            <div class="skill-container mt-4">
                <div class="skills" *ngFor="let skill of mySkills">
                    <div class="progress-bar-text">
                        <span>{{skill.name}} </span>
                        <span class="percent">{{skill.percentage}}</span>
                        
                    </div>
                    <div class="progress pbar" >
                        <div class="progress-bar animate__animated animate__slideInLeft" role="progressbar" [ngStyle]="{'width': skill.percentage}"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <hr class="secondary-color">
            <div class="knowledge-container">
                <ul class="list-unstyled">
                    <li class="secondary-color" *ngFor="let k of knowledge">
                        <i class="fas fa-check blue check"></i>
                        <span class="text secondary-color">{{k}}</span>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>