<nav class="navbar navbar-dark bg-dark nav">
    <a (click)="sidebarShow = !sidebarShow"><i class="fas fa-bars nb"></i></a>
</nav>
<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
	  <div class="sidebar-content">
        <app-profile ></app-profile>
	  </div>
</div>

<div class="tcol-container pt-2" (click)="sidebarShow=false">
    <div class="row">
        <div class="col-lg-3 column">
            <app-profile class="profile"></app-profile>
            
        </div>
        <div class="col-lg-9 column scroll">
            <app-content *ngIf="!sidebarShow"></app-content>

        </div>
    </div>
</div>