<nav class="navbar navbar-dark bg-dark nav">
    <a (click)="sidebarShow = !sidebarShow"><i class="fas fa-bars nb"></i></a>
</nav>
<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
    <!-- <nav class="navbar navbar-dark bg-dark nav">
        <div
            class="sidebar-close"
            (click)="sidebarShow = !sidebarShow"
        >
        <i class="fas fa-times-circle"></i>
        </div>
        <a  (click)="sidebarShow = !sidebarShow"><i class="fas fa-times-circle"></i></a>
    </nav> -->
	  <div class="sidebar-content">
        <app-profile class="nav"></app-profile>
	  </div>
</div>

<div class="container pt-4" (click)="sidebarShow=false">
    <div class="row">
        <div class="col-lg-3 t3">
            <app-profile class="profile"></app-profile>
            
        </div>
        <div class="col-lg-9 t9">
            <app-content></app-content>

        </div>
    </div>
</div>