@media (max-width: 420px) {
    .profile {
      display: none;
    }
    .nav{
        display: block;
    }
    
  }
@media (min-width: 421px) {
    .profile {
    display: block;
    }
    .nav{
        display: none;
    }
}
.nb{
    color: white;
    margin-left: 20px;
}
.sidebar-slider {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-120%);
    transition: ease-in-out 300ms transform;
    width: 300px;
}

.sidebar-slider.sidebar-slide-in {
    transform: translateX(0%);
    transition: ease-in-out 600ms transform;
}

.sidebar-close {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    cursor: pointer;
    padding: 16px;
}

.sidebar-content {
    height: 100%;
}
.scroll{
    overflow-y: scroll;
    height: 90vh;
}
.even-h{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    
}
  
.e-el {
flex:1;
}
.fix{
    width: 80vw;
    position: relative;
    margin-left: -40vw;
    height: 100%;
    /* margin-top: 100px; */
    left: 50%;
    overflow-y: scroll;
}